<!DOCTYPE html>
<html>
<head>
    <title>New Facebook</title>
    <script src="/socket.io/socket.io.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link link rel='stylesheet' href='/stylesheets/theme_2.css'>
    <link link rel='stylesheet' href='/stylesheets/customization.css'>
</head>


<body>


<header>
    <nav class="navbar navbar-default navbar-fixed-top text-uppercase">

        <!--  Logo  -->
        <div class="navbar-brand">
            <a href="/" class="header">
                <span class="glyphicon glyphicon-comment"></span><span class="">i.chat</span>
            </a>
        </div>

        <!--  Navigation  -->
        <div class="container-fluid nav-container">

            {{#if user}}
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="">
                            <img src="{{user.imageUrl}}" class="navbar-header img-logged ">
                            {{user.nickname}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="dLabelActive" href="#">My Profile</a></li>
                            <div role="separator" class="divider"></div>
                            <li><a id="dLabelClosed" href="/user/logout">Logout</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" id="projectsView">
                            My chat rooms <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="dLabelActive" href="#">Chat One</a></li>
                            <div role="separator" class="divider"></div>
                            <li><a id="dLabelClosed" href="#">Chat Two</a></li>
                        </ul>
                    </li>

                    <a href="#" data-toggle="modal" data-target="#newChatRoomModal" class="btn btn-sm btn-primary" >New chat</a>
                </ul>

            {{/if}}

            {{#unless user}}
                <div class="nav navbar-nav pull-right">
                    <ul>
                        <a class="btn btn-sm link" href="/user/login" id="loginBtn">Login</a>
                        <a class="btn btn-sm link" href="/user/register" id="registerBtn"> Register</a>
                    </ul>
                </div>
            {{/unless}}
        </div>

    </nav>
</header>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <!--  Modal Content  -->
        <div class="modal-content">

            <!--  Header  -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>

            <!--  Body  -->
            <div class="modal-body">

                <!--  Form  -->
                <form class="form-horizontal" method="post" action="/user/login">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nickname</label>
                            <div class="col-sm-8 ">
                                <input type="text" class="form-control" id="inputNickname" placeholder="Nickname" name="nickname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <a class="btn btn-default" href="/">Cancel</a>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Register -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <!--  Modal Content  -->
        <div class="modal-content">

            <!--  Header  -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>

            <!--  Body  -->
            <div class="modal-body">

                <!--  Form  -->
                <form class="form-horizontal" method="post" action="/user/register">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="inputFullName">Full Name</label>
                            <div class="col-sm-8 ">
                                <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required name="fullName" value={{fullName}}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="inputNickname">Nickname</label>
                            <div class="col-sm-8 ">
                                <input type="text" class="form-control" id="inputNickname" placeholder="Nickname" required name="nickname" value={{nickname}}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                            <div class="col-sm-8 ">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" required value={{email}} >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="inputPassword">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Confirm Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" required name="repeatedPassword">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <a class="btn btn-default" href="/">Cancel</a>
                                <!--<button type="reset" class="btn btn-default">Reset</button>-->
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create New Chat -->
<div class="modal fade" id="newChatRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <!--  Modal Content  -->
        <div class="modal-content">

            <!--  Header  -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">New Chat Room</h4>
            </div>

            <!--  Body  -->
            <div class="modal-body">

                <!--  Form  -->
                <form class="form-horizontal" method="post" action="/chat/create">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Chat Room Name</label>
                            <div class="col-sm-8 ">
                                <input type="text" class="form-control" id="inputChatName" placeholder="Chat Name" name="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <a class="btn btn-default" href="/">Cancel</a>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


{{#if error }}
    <h2>{{error}}</h2>
{{/if}}

{{{body}}}
</body>

<footer>ChatName © 2017</footer>

</html>
