{{> header}}

<script>
    $(function () {
        console.log('ready');

        $('#publicChatsList div').click(markActive);
        $('#privateChatsList div').click(markActive);

        function markActive(e) {
            e.preventDefault();
            $that = $(this);
            $that.parent().find('div').removeClass('selected');
            $that.parent().find('a').text('join');
            $that.addClass('selected');
            $that.find('a').text('Leave');
        }
    })
</script>

<div class="container">

    <!-- All Chats & Users -->
    <div class="col-xs-4 col-md-3">
        <div class="chats-list-container">

            <!-- Public Chat Rooms -->
            <div id="publicChats" class="list-group chats scroll-bar-wrap">

                <a class="list-group-item active" data-toggle="collapse" href="#publicChatsList" aria-expanded="false"
                     aria-controls="collapseExample">
                    Public Chat Rooms
                    <span class="badge pull-right">30</span>
                    <span class="caret"></span>
                </a>

                <div id="publicChatsList" class="scroll-box">
                    <div class="list-group-item">
                        Chat room
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Another One
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Some name
                        <a href="#" class="btn btn-default btn-sm ">Join</a>
                    </div>
                    <div class="list-group-item">
                        Chat room
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Another One
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Some name
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Some name
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Chat room
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Another One
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Some name
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                </div>
            </div>

            <!-- Private Chat Rooms -->
            <div id="privateChats" class="list-group chats scroll-bar-wrap">

                <a class="list-group-item active" data-toggle="collapse" href="#privateChatsList"
                     aria-expanded="false" aria-controls="">
                    Private Chat Rooms
                    <span class="badge pull-right">18</span>
                    <span class="caret"></span>
                </a>

                <div id="privateChatsList" class="scroll-box">
                    <div class="list-group-item">
                        Chat room
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Another One
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Some name
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Chat room
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Another One
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                    <div class="list-group-item">
                        Some name
                        <a href="#" class="btn btn-default btn-sm">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Active Chat Pannel -->
    <div class="col-xs-8 col-md-9">
        <div class="chat-container">

            <!-- Chat tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link active" href="#">Active Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stupid chat name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Private Chatroom</a>
                </li>
            </ul>

            <h2>Chat Name</h2>
            <hr>

            <form class="form-horizontal" action="/" method="POST">
                <!--  Nickname  -->
                <div class="form-group col-xs-6 col-md-4">
                    <label for="nickname"></label>
                    <input id="nickname" name="nickname" type="text" class="form-control"
                           placeholder="Please, enter a nickname">
                </div>

                <!--  Message  -->
                <div class="form-group ">
                    <label for="message"></label>
                    <textarea name="message" id="message" class="form-control col-sm-8"
                              placeholder="Type your message here:"></textarea>
                </div>

                <!--  Submit Button  -->
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </div>

            </form>


            <div id="chat" class="chat">

                <div class="media well">
                    <div class="media-left">
                        <img src="public/images/userProfilePictures/lora.jpg" class="img-circle" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Lora{{this.name}}{{this.date}}</h4>
                        <p>{{this.comment}}Some text</p>
                    </div>
                </div>

                <div class="media well">
                    <div class="media-left">
                        <img src="public/images/userProfilePictures/lora.jpg" class="img-circle" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Svet{{this.name}}{{this.date}}</h4>
                        <p>{{this.comment}}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                            quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

{{> footer}}